.box {
  width: 6rem;
  height: 6rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: var(--figma-color-background-primary);
  border-radius: 0.2rem;
}

.wide {
  width: 10rem;
}

.white {
  background-color: #ffffff;
}
._boxes_xuqjg_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
